In [6]:
import pandas as pd

data = {'Name': ['Tom', 'Jerry', 'Mickey', 'Donald'],
        'Age': [20, 21, 22, 23]}

df = pd.DataFrame(data)
print(df)

print(df.loc[1, "Name"])

# Index method
print(df.iloc[1,1])
print("-----------------")
# 
print(df.loc[0])

print("-----------------")
# returning multiple rows
print(df.loc[[0,1]])

     Name  Age
0     Tom   20
1   Jerry   21
2  Mickey   22
3  Donald   23
Jerry
21
-----------------
Name    Tom
Age      20
Name: 0, dtype: object
-----------------
    Name  Age
0    Tom   20
1  Jerry   21

In [15]:
import pandas as pd

data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}


df = pd.DataFrame(data, index=["day1", "day2", "day3"])
print(df)
print("-------------------------------------------------")
print(df.loc["day2"])
print("-------------------------------------------------")
print(df.loc[["day1", "day2"]])

print("---------  Accessing column names  --------------")
print(df["calories"])


print("----------------  DataFrame.shape  --------------")
df = pd.DataFrame({
    'A' : [1,2],
    'B' : [3,4]
})
print("Shape of the DataFrame : ",df.shape)
print("Sixe of the DataFrame :",df.size)

print("-------------------------------------------------")

      calories  duration
day1       420        50
day2       380        40
day3       390        45
-------------------------------------------------
calories    380
duration     40
Name: day2, dtype: int64
-------------------------------------------------
      calories  duration
day1       420        50
day2       380        40
---------  Accessing column names  --------------
day1    420
day2    380
day3    390
Name: calories, dtype: int64
----------------  DataFrame.shape  --------------
Shape of the DataFrame :  (2, 2)
Sixe of the DataFrame : 4

In [19]:
import pandas as pd

df = pd.DataFrame({
    'A': [1,2,3],
     'B': [4,5,6]
})

print('converting the DataFrame to the NymPy Array : ',df.values)
print('---------------------------------------------------------')

converting the DataFrame to the NymPy Array :  [[1 4]
 [2 5]
 [3 6]]
---------------------------------------------------------

In [28]:
import pandas as pd
data = {
    'Age': [20, 21, 22, 23],
    'Name': ['Tom', 'Jerry', 'Mickey', 'Donald']
}
df = pd.DataFrame(data)
print(len(df))

print("Rows Count of the DataFrame : ", len(df) )

4
Rows Count of the DataFrame :  4

In [ ]:
import pandas as pd

sales_table = {
    'order_id': [101, 102, 103, 104, 105],
    'Products' : ['Laptop', 'SmartPhone', 'DeskChair', 'Monitor', 'BookShelf'],
    'Category' : ['Electronics', 'Electronics', 'Furniture', 'Electronics', 'Furniture'],
    'Quantity' : [2,5,10,4,2],
    'Price_Pre_Unit' : [1000, 800, 150, 200, 300],
    'Region' : ['No
                '/rth', 'South', 'East', 'West', 'North']
}

# calculate the total revenew for each order
df = pd.DataFrame(sales_table)
df['Total_Revenue'] = df['Quantity'] * df['Price_Pre_Unit']
print(df)

print("-------------------------------------------------")


# Identify the best selling product by the total revenue
print(df.groupby('Products')['Total_Revenue'].sum())
print("-------------------------------------------------")
filtered_revenew_max = df[df['Total_Revenue'] == df['Total_Revenue'].max()]
print("Best Selling Product  : ",filtered_revenew_max)

   order_id    Products     Category  Quantity  Price_Pre_Unit Region  \
0       101      Laptop  Electronics         2            1000  North
1       102  SmartPhone  Electronics         5             800  South
2       103   DeskChair    Furniture        10             150   East
3       104     Monitor  Electronics         4             200   West
4       105   BookShelf    Furniture         2             300  North

   Total_Revenue
0           2000
1           4000
2           1500
3            800
4            600
-------------------------------------------------
Products
BookShelf      600
DeskChair     1500
Laptop        2000
Monitor        800
SmartPhone    4000
Name: Total_Revenue, dtype: int64
-------------------------------------------------
Best Selling Product  :     order_id    Products     Category  Quantity  Price_Pre_Unit Region  \
1       102  SmartPhone  Electronics         5             800  South

   Total_Revenue
1           4000

In [53]:
import pandas as pd

data = {
    'Age': [20, 21, 22, 23],
    'Salary': [50000, 56000, 56000, 80000]
}

df = pd.DataFrame(data)

print(df.mean())       # Calculate column-wise mean
print('---------------------------------------------')
print(df.sum())        # Add parentheses to execute the sum method
print('---------------------------------------------')
print(df.describe())   # Add parentheses to execute the describe method

Age          21.5
Salary    60500.0
dtype: float64
---------------------------------------------
Age           86
Salary    242000
dtype: int64
---------------------------------------------
             Age        Salary
count   4.000000      4.000000
mean   21.500000  60500.000000
std     1.290994  13304.134696
min    20.000000  50000.000000
25%    20.750000  54500.000000
50%    21.500000  56000.000000
75%    22.250000  62000.000000
max    23.000000  80000.000000

In [57]:
import pandas as pd

data = {
    'Name': ['Tom', 'Jerry', 'Mickey', 'Donald'],
    'Age': [20, 21, 22, 23],
    'Salary': [50000, 56000, 56000, 80000]
}

df = pd.DataFrame(data)

# Filtering rows where Age > 20
filtered_df = df[df['Age'] > 20]
print("Filtered DataFrame:")
print(filtered_df)

# Dropping the 'Age' column
df_dropped = df.drop('Age', axis=1)
print("\nDataFrame after dropping the 'Age' column:")
print(df_dropped)

Filtered DataFrame:
     Name  Age  Salary
1   Jerry   21   56000
2  Mickey   22   56000
3  Donald   23   80000

DataFrame after dropping the 'Age' column:
     Name  Salary
0     Tom   50000
1   Jerry   56000
2  Mickey   56000
3  Donald   80000

In [58]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})  

# Add a row with values for 'A' and 'B'
df.loc[len(df)] = [7, 8]
print(df)

   A  B
0  1  4
1  2  5
2  3  6
3  7  8

In [60]:
import pandas as pd
df = pd.read_csv('customers-100.csv')
print(df)
print(type(df))

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda                   -1199
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka                   -3769
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info         8/24/2020
1         686-620-1820x944                 vmata@colon.com         4/23/2021
2      (496)978-3969x58947             beckycarr@hogan.com         3/25/2020
3                    -9892     stanleyblackwell@benson.org          6/2/2020
4    001-199-446-3860x3486         colinalvarado@miles.net         4/17/2021
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com         1/30/2022
96            605.413.3198               vkemp@ferrell.com         7/10/2021
97   +1-632-666-7507x92121                swagner@kane.org         9/18/2021
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz         8/11/2021
99            783.639.1472          colleen91@faulkner.biz         3/11/2020

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>